/* Stylesheet for Intro CSS3 Homework 2 */

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 125%;
  background-color: cornsilk;
}

header {
  background-color: blanchedalmond;
  text-align: center;
}

nav {
  background-color: #7ff1ff;
  background: linear-gradient( #7ff1ff, blanchedalmond);

  /* text-align: center; */
}

nav a {
  text-decoration: none;
  font-size: 22px;

  
  /* padding: 3px;
  border: 2px solid #000; */
}

nav img {
  width: 10%;
  /* display: inline-block; */
}


main {
  background-color: rgb(168, 254, 254);
  font-size: 25px;
}

footer {
  background-color: rgb(176, 241, 176);
  text-align: center;
}

ul {
  list-style-type: none;
  /* display: inline-block; */

  /* display: flex; */
  justify-content: space-around;
}

nav li {
  display: inline-block;
  padding: 0 30px 0 30px;
}


h1 {
  text-align: center;
  font-family: lobster, 'dancing script', fantasy;
  font-variant: small-caps;
  font-size: 65px;
  color: rgb(4, 108, 4);
}

p {
  line-height: 100%;
}

img {
  border: 5px outset rgb(80, 195, 80);
  padding: 3px;
  background-color: #fff;
}

.current a {
  color: rgb(129, 125, 125);
  text-transform: uppercase;
  font-size: 16px;
}

.grid-photos {
  padding: 10px 0 10px 0;
  display: grid;
  grid-template-columns: 40% 40%;
  justify-content: space-around;
  row-gap: 10px;
}

.grid-photos img {
  width: 100%;
}

.flex-photos {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: center;
}

.flex-photos img {
  margin: 20px;
}